CREATE DATABASE CompanyDB;
USE CompanyDB;

CREATE TABLE Department
(
    Dname VARCHAR(15),
    Dnumber INT PRIMARY KEY,
    Mgr_ssn CHAR(10),
    Mgr_ssn_date DATE
);

CREATE TABLE Employee
(
    Fname VARCHAR(15),
    Minit VARCHAR(1),
    Lname VARCHAR(15),
    Ssn CHAR(10) PRIMARY KEY,
    Bdate DATE,
    Address VARCHAR(50),
    Sex CHAR(1),
    Salary DECIMAL(10,2),
    Super_ssn CHAR(10),
    Dno INT,
    FOREIGN KEY (Super_ssn) REFERENCES Employee(Ssn),
    FOREIGN KEY (Dno) REFERENCES Department(Dnumber)
);

CREATE TABLE Dept_Locations
(
    Dnumber INT,
    Dlocation VARCHAR(15),
    PRIMARY KEY (Dnumber, Dlocation),
    FOREIGN KEY (Dnumber) REFERENCES Department(Dnumber)
);

CREATE TABLE Project
(
    Pname VARCHAR(20),
    Pnumber INT PRIMARY KEY,
    Plocation VARCHAR(15),
    Dnum INT,
    FOREIGN KEY (Dnum) REFERENCES Department(Dnumber)
);

CREATE TABLE Works_on
(
    Essn CHAR(10),
    Pno INT,
    Hours DECIMAL(5,1),
    PRIMARY KEY (Essn, Pno),
    FOREIGN KEY (Essn) REFERENCES Employee(Ssn),
    FOREIGN KEY (Pno) REFERENCES Project(Pnumber)
);

CREATE TABLE Dependent
(
    Essn CHAR(10),
    Dependent_name VARCHAR(15),
    Sex CHAR(1),
    Bdate DATE,
    Relationship VARCHAR(9),
    PRIMARY KEY (Essn, Dependent_name),
    FOREIGN KEY (Essn) REFERENCES Employee(Ssn)
);